.body {
  background-color: "JS(Color.main)";
  flex:1;
}

.list {
  margin-top: 60;
  background-color: "JS(Color.main)";
  padding-left: 8;
  padding-right: 8;
}

.listAndroid  {
  margin-top: 10;
  background-color: "JS(Color.main)";
  padding-left: 8;
  padding-right: 8;
}

.loading{
  margin-top: "JS(vh * 30)";
}

.box {
  background-color: #fff;
  overflow: hidden;
  border-radius: 2;
}

.boxShadow {
  margin-bottom: 16;
  margin-left: 8;
  margin-right: 8;

  border-radius: 2;
  elevation: 5;

  shadow-color: #000;
  shadow-opacity: 0.2;
  shadow-radius: 4;
  shadow-offset: "JS({width: 0, height: 2})";
}

.imageBox {
  align-items: center;
  justify-content: center;
  width: "JS(width)";
  height: "JS(width/2)";
  position: relative;
}

.overlayVideo {
  top: 0;
  left: 0;
  z-index: 100;
  width: "JS(width)";
  height: "JS((width/2))";
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
}

.iconPlay {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  margin: 18;
  margin-left: 26;
  margin-top: 22;
  z-index: 9999;
  width: 28;
}

.iconVideo {
  align-items: center;
  justify-content: center;
  top: "JS(width/5 - 10)";
  left: "JS(width/2 - 30)";
  z-index: 999;
  width: "JS(width)";
  position: absolute;
  background-color: rgba(0,0,0, 0.3);
  width: 60;
  height: 60;
  border-radius: 40;
}

.textIconVideo {
  font-size: 80;
}

.boxSharing {
  flex: 1;
  flex-direction: row;
  margin-top: -12;
}

.boxCate {
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.8);
  border-radius: 6;
  margin-left: 16;
  height: 24;
}

.boxCateText {
  padding-left: 12;
  margin-right: 10;
  font-size: 10;
  color: #FFF;
  letter-spacing: 2;
}

.boxBookShare {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -10;
  margin-right: 10;
}

.boxIcon {
  margin-right: 10;
  margin: 6;
  background-color: rgba(200, 200, 200, 0.7);
  border-radius: 40;
}
.iconHeart {
  margin: 6;
  margin-top: 8;
  color: #000;
  background-color: transparent;
}
.iconShare {
  margin: 6;
  margin-top: 8;
  color: #000;
  width: 18;
  background-color: transparent;
}


.boxName {
  background-color: #FFF;
  margin-left: 8;
  margin-top: 12;
  height: "JS(vh * 12)";
}

.title {
  font-size: 16;
  width: "JS(width-40)";
  margin-left: 10;
  padding-right: 10;
  margin-top: 0;
  margin-bottom: 8;
  font-weight:500;
  color: #333
}

.time {
  margin-left: 10;
  margin-right: 16;
  color: #999;
  font-size: 11;
  margin-bottom: 12;
}


.shareIcon {
  flex-direction: "JS(Constants.RTL ? 'row-reverse' : 'row')";
  position: absolute;
  bottom: 4;
}
