.body {
  width: "JS(width)";
  background-color: "JS(Color.main)";
}

.video {
  height: "JS(vh * 40)";
}

.videoBody {
  padding-top: 50;
  background-color: white;
}

.videoBodyAndroid {
  padding-top: 10;
  background-color: white;
}

.titleVideoText{
  margin-top: 18;
  margin-left: 16;
  margin-right: 14;
  width: "JS(width - 30)";
  color: "JS(Color.title)";
  font-size: 17;
  line-height: 22;
  font-weight: 500;
}


.timeText {
  font-size: 14;
  margin-left: 16;
  margin-top: 8;
  color: "JS(Color.time)";
}

.wrapLikeShare{
  margin-top: 5;
  margin-right: 10;
  margin-bottom: 20;
  flex-direction: row;
  justify-content: flex-end;
}

.author {
  color: #999;
  font-size: 13;
  font-weight: 600;
  margin-top: 12;
  margin: 12;
  margin-left: 12;
}

.description {
  background-color: #eee;
  flex-direction: row;
}
