.sideMenu  {
    background-color: #fff;
    flex: 1;
    height: "JS(height)";
    align-items: center;
    justify-content: center;
}

.noBorder {
    border-top-width: 0px;
}

.menuBadge {
    border-radius: 9;
    position: absolute;
    right: 0px;
    top: 17;
    font-size: 12;
    color: white;
}

.menuRow  {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-top: 7;
    padding-bottom: 7;
    margin-bottom: 20;
    height: 48px;

    border-top-width: 1px;
    border-top-color: rgba(255, 255, 255, 0.1);
}

.menuRowLogout {
  position: absolute;
  bottom: "JS(vh * 5)";
  align-items: center;
  width: "JS(vw * 60)";
}

.menuLink  {
    font-size: 22px;
    color: #111;
    font-weight: 300;
}


.fullname {
    margin-top: 8;
    margin-bottom: 6;
    font-size: 14;
    color: #151F41;
    font-weight: 600;
}
.email {
    color: #999;
    font-size: 12;
    margin-top: 12;
}
.profile {
    align-items: center;
    width: "JS(width/2)";
    margin-top: "JS(-(vh * 15))";
    margin-bottom: "JS(vh * 5)";
}

.avatar {
  height: "JS(vh * 10)";
  resize-mode: contain;
}

.avatarView {
  border-radius: 50;
  overflow: hidden;
  background-color: #ccc;
  width: "JS(vh * 10)";
}

.sideMenu  {
    flex: 1;
    height: "JS(height)";
    align-items: center;
    justify-content: center;
}

.noBorder {
    border-top-width: 0px;
}

.menuBadge {
    border-radius: 9;
    position: absolute;
    right: 0px;
    top: 17;
    font-size: 12;
    color: white;
}

.menuSignOut  {
    border-top-width: 0px;
    position: absolute;
    bottom: "JS(vw * 10)";
    width: "JS(vw * 80)"
}

.logoutLink {
    font-size: 15;
    color: #999;
}

.logoutLinkScale {
    font-size: 15;
    color: #666;
    position: absolute;
    bottom: 20;
}

.logo {
    width: "JS(width/2-20)";
    height: "JS(vh * 10)";
    resize-mode: contain;
    margin-top: -40;
    margin-bottom: 40;
    margin-left: 10;
}


.menuOverlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.menuColor {
  background-color: #2AB5B3;
}
.menuColorWide {
  background-color: rgba(45, 47, 59, 1);
}

.sideMenuLeft  {
    background-color: #fff;
    flex: 1;
    height: "JS(height)";
    align-items: flex-start;
    justify-content: center;
}
.menuRowLeft  {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 7;
    margin-top: 7;
    margin-left: 16;
    height: 48px;
}

.menuRowWide {
  margin-left: "JS(vw * 10)";
}

.menuLinkLeft  {
    font-size: 15;
    color: #f9f9f9;
    font-weight: 500;
    margin-top: 24;
}
.logoutLinkLeft {
    font-size: 15;
    color: #f9f9f9;
}
.icon {
  font-size: 24;
  color: white;
  margin-right: 20;
  margin-top: 20;
}

.iconWide {
  margin-right: 40;
  font-size: 22;
  margin-top: 21;
}

.profileLeft {
    align-items: center;
    width: "JS(vw * 40)";
    margin-top: "JS(-(vh * 30))";
    margin-bottom: "JS(vh * 5)";
}
.avatarLeft {
    width: "JS(vw *50)";
    height: "JS(vh * 6)";
    resize-mode: contain;
    margin-bottom: 4;
}
.address {
  font-size: 11;
}

.iconSmall {
  font-size: 16;
  color: white;
}

.menuBg {
  width: "JS(width)";
  height: "JS(vh * 25)";
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.profileCenter {
    align-items: center;
    width: "JS(vw * 80)";
    margin-top: "JS(-(vh * 30))";
    margin-bottom: "JS(vh * 5)";
}
