
.wrapComment{
  padding-left: 8;
  padding-right: 8;
  padding-bottom: 10;
  background-color:#F7F7F7;
  flex: "JS(2/6)";
}

.headCommentText{
  font-size: 15;
  color: #333;
  font-weight: 600;
  color: "JS(Color.title)";
  margin-top: 12;
  margin-bottom: 8;
}

.sendView {
  margin-top: 8;
  background-color: #5DCDAD;
  width: "JS(width)";
  align-items: center;
  border-radius: 3;
  overflow: hidden;
}

.sendButton {
  padding: 10;
  margin-right: 12;
  position: absolute;
  margin-left: "JS(width/2 - 80)";
  width: 100;
  top: 2;
  z-index: 999;
  background-color: transparent;
}

.sendText {
  color: white;
  font-weight: 600;
  font-size: 13;
  padding: 12;
}

.inputCommentWrap{
  border-color: #EBEBEB;
  border-width: 1;
  border-radius: 5;
  min-height : 80;
  background-color: #fff;
}

.inputCommentText{
  margin: 8;
  flex:1;
  border-width: 0;
  font-size: 15;
  color: "JS(Color.title)";
}


.wrapListComment{
  margin-top: 10
}

.html {
  margin-left: 12;
  margin-right: 12;
}


.itemComment{
  flex:1;
}

.itemHeadComment{
  flex-direction: row;
}
.avatarComment {
  width:40;
  height:40;
}
.authorName{
  font-weight: 500;
  font-size: 16;
  margin-top: 2;
  margin-left: 6;
  color: "JS(Color.title)";
}
.timeAgoText {
  color: "JS(Color.time)";
  font-size: 12;
  margin-left: 6;
  margin-top: 1;
}
.commentHTML {
  margin-top: 0;
  margin-top: -8;
  margin-bottom: 8;
}
