.wrap{
    shadow-color: #000;
    shadow-opacity: 0.4;
    shadow-radius: 2;
    shadow-offset: "JS({width: 0, height: 2})";

    margin: 4;
    border-radius: 8;
    margin-left: 20;
    margin-right: 20;
    height: "JS(vh * 60)";
}

.body {
  border-radius: 8;
  height: "JS(vh * 60)";
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
}

.header{
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.headerLeft {
    position: absolute;
    left:0;
    top:0;
    margin:10;

}
.headerTitle{
    align-items: center;
    justify-content: center
}
.headerTitleText {
    color: #000;
    font-weight: 600;
    font-size: 20;
    margin-top:10;
}
.imageBack {
    width:18;
    height:20;
    flex:1;
}
.wrapLogo{
    flex:1;
    align-items: center;
    justify-content: center;
}
.styleLogo {
    color: rgba(72,194,172,1);
    font-size: 40;
}
.wrapForm {
    flex:1;
    padding: 16;
    position: relative;
}

.textInput{
    border-bottom-width: 1;
    padding:0;
    margin:0;
    border-bottom-color: rgba(229,229,229,1);
    background-color: rgba(255, 255, 255, 0.8);
    height: 40;
    border-radius: 2;
    padding-left: 12;
    padding-right: 12;
    margin-bottom: 10;
    font-size: 14;


}

.textInputWrap {
  margin-top: 10;
}

.textLabel {
  font-size: 11;
  color: #333;
  font-weight: 500;
  margin-bottom: 8;
  margin-top: 8;
}

.forgotPass {
    position:absolute;
    bottom: 20;
    right: 10;
    z-index: 9999;
}


.wrapButton{
    flex: 1 ;
    margin: 15;
    margin-top:30;
    position: absolute;
    bottom: 4;
    width: "JS(width - 70)";
}

.btnLogIn{
    align-items: center;
    justify-content: center;
    background-color: rgb(72,194,172);
    padding: 12;
    margin-bottom: 14;
    border-radius: 25;
}


.btnLogInText{
    color: white;
    font-weight: bold;
    font-size: 14;
}
.orText {
    color:"rgb(51,51,51)";
    font-size: 14;
    margin:0 15 0 ;
}

.forgotPassText{
    color: #555;
    text-align: right;
    font-size: 13;
}


.underbtnLogin{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btnLogInFace{
    align-items: center;
    justify-content: center;
    background-color: rgb(59,89,152);
    padding:9;
    margin-top:15;
    flex-direction: row;
}

.bottomWrap{
    flex:"JS(1/2)";
    position: relative;
}
.bottomWrapContent {
    flex-direction: row;
    position: absolute;
    bottom: 16;
    left:"JS(width/4)";
}
.btnSignUpText {
    color:rgb(72,194,172);
    font-size: 14;
    font-weight: bold;
}
