.wrap{
  flex:1
}
.boxSetting{
  flex:1;
  padding:10;
  border-width: 1;
  border-color: #eee;;
  border-style: solid;
  margin:10;
}
.boxCountrySetting {
    flex:3;
    padding:10;
    border-width: 1;
    border-color: #eee;;
    border-style: solid;
    margin:10;
}
.doneButton {
   height: 50;
   margin: 20;
   background-color: #333;
   align-items: center;
   justify-content: center;
}