.body {
  background-color: "JS(Color.main)";
  height: "JS(height)";
}
.listView {
  padding-top: 50;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.listViewAndroid {
  padding-top: 10;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.loading{
  margin-top: "JS(vh * 30)";
}
.spinnerView {
  height: "JS(height)";
  align-items: center;
  justify-content: center;
}


.boxCategory {
  height: "JS(width/2 - 40)";
  width: "JS(width/2 - 12)";
  margin-bottom: 8;
  margin-left: 8;

  border-radius: 2;
  elevation: 5;

  shadow-color: #000;
  shadow-opacity: 0.4;
  shadow-radius: 2;
  shadow-offset: "JS({width: 0, height: 2})";
}

.imageBox {
  border-radius: 2;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: "JS(width/2 - 40)";
  width: "JS(width/2 - 12)";
  position: relative;
}

.boxName {
  flex:1;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 9999;
}

.boxNameText {
  color: "white";
  font-size: 18;
  font-weight: 400;
  background-color: transparent;
}

.boxCountText {
  color: "white";
  font-weight: 400;
  font-size: 12;
  margin-top: 6;
  background-color: transparent;
}

.overlayVideo {
  top: 0;
  left: 0;
  z-index: 100;
  width: "JS(width)";
  height: "JS((width/2))";
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
}
