.body {
  background-color: "JS(Color.main)";
  height: "JS(height)";
}

.listView {
  margin-top: 60;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.listViewAndroid {
  margin-top: 10;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading{
  margin-top: "JS(vh * 30)"
}

.wrapSearch {
  position: relative;
  z-index: 111;

  width: 0;
  height: 0;
}

.boxPhoto {
  height:210;
  width: "JS(width/2 - 12)";
  border-color: "#FFF";

  margin-bottom: 8;
  margin-left: 8;

  border-radius: 2;
  elevation: 5;

  shadow-color: #000;
  shadow-opacity: 0.4;
  shadow-radius: 2;
  shadow-offset: "JS({width: 0, height: 2})";
}

.boxWrapImage {
  flex:2
}

.boxImage{
  flex:1;
  border-radius: 3;
  overflow: hidden;
}

.boxTitle {
  flex-direction: "row";
  background-color: "#F9F9f9";
}
.boxLeftTitle{
  flex: "JS(4.5)";
}
.titlePhoto{
  font-size: 14;
}
.boxRightIcon{
  flex:1
}

.inputText{
  height: 40;
  border-color: "#FFF";
  color:"rgb(180,180,180)";
  background-color: "#FFF";
  border-width: 2;
  padding-left:35;
  margin:10;
  border-radius: 5;
  position: relative;
  z-index: 111;
  font-size: 15;

  width: 0;
  height: 0;
}

.searchIcon{
  position: absolute;
  background-color: transparent;
  color: #999;
  top:20;
  left: 20;
  z-index: 222;
}


/* --- Modal Photo ---*/
.list  {
	flex: 1;
	margin-bottom: 55;
	background-color: transparent;
}
.color  {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #EBEBEB;
}
.modalBoxWrap {
  position: absolute;
  border-radius: 2;
  overflow: hidden;
  width: "JS(width)";
  height: "JS(height)";
}

.image {
  width: "JS(width)";
  height: "JS(height - 40)";
}


.modal{
  flex:1;
  position: absolute;
  top:0;
  left:0;
  z-index: 9998;
}

.spinnerView {
  flex:1;
  align-items: center;
}

.detailPanel {
	height: 300;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

.iconZoom  {
	position: absolute;
	right: 10;
	top: 10;
}
.imageIcon {
  flex:1;
  width: 20;
  height: 20;
}

.backBtn  {
	background-color: transparent;
	height:15;
	width:15;
	margin:5;
  position: absolute;
  top: 0;
  left:0;
  z-index: 9999;

}
.backBtnText {
  color: #000;
  background-color: transparent;
}

.linearGradient {
    height: 100;
    margin-top: -100;
    justify-content: flex-end;
}

.shareIcons {
  flex-direction: row-reverse;;
  position: absolute;
  left: 4;
  bottom: -2;
}

.dot {
  background-color: rgba(255,255,255,1);
	width: 8;
	height: 8;
	border-radius: 4;
	margin-left: 4;
	margin-right: 4;
}
.dotActive {
		background-color: transparent;
		border-color: #FFF;
		border-width: 1;
		width: 8;
		height: 8;
		border-radius: 4;
		margin-left: 4;
		margin-right: 4;
}
