.body {
  flex: 1;
  padding: 0;
  background-color: "#4EC1AC";

  justify-content: center;
  align-items: center;
}

.tab {
    padding-bottom: 0;
    border-bottom-width: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.activeTab {
  height: 0;
  background-color: "JS(Color.main)";
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.toolbar {
  left: 0;
  left: 14;
  align-self: flex-start;
}
